html,
body {
  min-height: 100vh;
  background: #111111;
  color: #ffffff;
}

:root {
  --width-s: 30%;
}

#root,
#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root h1 {
  font-size: 40px;
  margin-top: 30px;
  font-weight: bold;
  color: rgb(195, 0, 202);
  font-family: "Times New Roman";
  -webkit-text-stroke: 0.4px #000000;
  text-shadow: 0px 0px 15px rgb(196, 74, 245);
}

.App {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding: 2em;
  font-weight: bold;
  width: 100%;
  height: 100vh;
  background-color: blue;
}

.NumberArea {
  margin-top: 3%;
  background-color: green;
  height: 35%;
  width: calc(var(--width-s) - 15%);
  border-radius: 100%;
  font-size: 100px;

  /* Centering text vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;
}

.ButtonHolder {
  margin-top: 3%;
  background-color: red;
  width: var(--width-s); /* Stretch across the whole screen */
}

.GenerateButton {
  background-color: #000000;
  color: white;
  border-radius: 5px;
  height: 30px;
  width: 90%;
}
