/* VARIABLES: */
/* -- */
:root {
  --width-s: 30%;
  --text-stroke-color: rgb(196, 74, 245);
  --main-text-color: rgb(212, 121, 248);
}
/* -- */
/* -- */
/* ---------------- */

html,
body {
  /* min-width: 100vh; */
  min-height: 100vh;
  background: #111111;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

#root,
#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

@keyframes glowing {
  0% {
    text-shadow: 0px 0px 15px var(--text-stroke-color);
  }
  50% {
    text-shadow: 0px 0px 30px var(--text-stroke-color);
  }
  100% {
    text-shadow: 0px 0px 15px var(--text-stroke-color);
  }
}

#root h1 {
  font-size: 60px;
  margin-top: 3%;
  font-weight: bold;
  color: var(--main-text-color);
  -webkit-text-stroke: 0.4px #000000;
  animation: glowing 8s infinite; /* Adjust the duration as needed */
  z-index: 2;
}

#root h2 {
  background-color: red;
  margin-top: -40px;
  color: var(--main-text-color);
}

.App {
  text-align: center;
  padding: 2em;
  font-weight: bold;
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.NumberArea {
  margin-top: 5%;
  background-color: green;
  height: 15vw;
  width: calc(var(--width-s) - 15%);
  border-radius: 100%;
  font-size: 100px;
  box-shadow: 0px 0px 30px rgba(4, 221, 69, 0.5); /* Adjust the shadow as needed */

  /* background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 70%
  ); */

  /* Centering text vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;
}

.ButtonHolder {
  margin-top: 3%;
  border-radius: 20px;
  /* background-color: rgb(53, 52, 52); */
  height: 8vh;
  width: var(--width-s); /* Stretch across the whole screen */

  display: flex;
  justify-content: center;
  align-items: center;
}

.GenerateButton {
  background-color: #333333;
  color: rgb(68, 240, 46);
  border-radius: 5px;
  height: 50%;
  width: 60%;
}
